

.footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid var(--top-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > h4 {
  font-size: 1rem;
  font-weight: 500;
}
