.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  padding: 0.5rem;
  margin: auto 0.5rem;
}

.pagination > p {
  color: #808080;
  font-size: 12px;
}

.prev-page,
.next-page {
  cursor: pointer;
  border: #000000 solid 1px;
}
.prev-page:hover,
.next-page:hover {
  border-width: 2px;
}
.prev-page:hover > .icon,
.next-page:hover > .icon {
  width: 30px;
}

.disable-page {
  border: #a6a6a6 solid 1px;
  cursor: default;
}

.icon {
  width: 25px;
  vertical-align: middle;
  transition: ease-in-out 0.1s;
}

.disable-icon {
  filter: invert(53%) sepia(5%) saturate(23%) hue-rotate(48deg) brightness(130%)
    contrast(85%);
}
